
$enable-caret: true;
$gray-800: #282c37;
$green: #BEF255;
$blue: #2980b9;
$gray-600: rgb(120, 139, 153);
$yellow: #f1c40f;
$red: #c0392b;
$gray-100: rgb(208, 225, 236);
$white: #fdffff;
$purple: #8e44ad;
$indigo: #9b59b6;
$cyan: #3498db;
$teal: #27ae60;
$secondary: $gray-600;